<div class="container">
    <div class="card">
        <div class="title">
            <p>USER LOGIN</p>
        </div>
        <div class="form">
            <div class="input-class">
                <div class="input-username">
                    <div class="label-class">
                        <label class="label">Username</label>
                    </div>
                    <div class="input-wrapper">
                        <mat-icon>account_circle</mat-icon>
                        <input type="text" class="input" placeholder="username"/>
                    </div>
                    </div>

                    <div class="input-password">
                    <div class="label-class">
                        <label class="label">Password</label>
                    </div>
                    <div class="input-wrapper">
                        <mat-icon>lock</mat-icon>
                        <input type="password" class="input" placeholder="password"/>
                    </div>
                </div>

            </div>
            <div class="actions-class">
                <div class="submit-class">
                    <button (click)="onLogin()">Login</button>
                </div>
                <div class="register-class">
                    <p>Dont have an account? <span class="span-class">Register</span></p>
                </div>
            </div>
        </div>
    </div>
</div>