<div class="navbar">
    <div class="logo">
        <p>
            <mat-icon class="hospital-icon">local_hospital</mat-icon>DocsAPP
        </p>
    </div>
    <div class="actions">
        <div class="action-button">
            <button mat-button>Home</button>
        </div>
        <div class="action-button">
            <button mat-button>Dashboard</button>
        </div>
        <div class="action-button">
            <button mat-button>Patient List</button>   
        </div>
    </div>
    <div class="profile">
        <div class="icon-class">
            <mat-icon class="profile-icon">account_circle</mat-icon>
        </div>
        <div class="name-class">
            <p>Welcome!</p>
            <p class="user-name"><b>Swati Shirgaokar</b></p>
        </div>
    </div>
</div>